.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calcRem(39);
    position: relative;
    font-size: calcRem(13);
    line-height: 1.1;
    font-weight: 700;
    border-radius: 3px;
    transition-property: color, border-color, background-color, box-shadow;
    transition-duration: $tr-time;
    cursor: pointer;

    &--main{
        color: $main;
        background: $yellow-text;
        &:not(:disabled):hover{
            background: $hover-yellow;
            box-shadow: 0px 5px 25px rgba(255, 199, 0, 0.49);
        }
    }
    &--transparent{
        color: $yellow-text;
        border: 1px solid $yellow-text;
        &:not(:disabled):hover{
            color: $main;
            background: $hover-yellow;
            box-shadow: 0px 5px 25px rgba(255, 199, 0, 0.49);
        }
    }
    &--small{
        height: calcRem(37);
        font-size: calcRem(12);
    }
    &--inline{
        display: inline-flex;
    }
    &--pad29{
        padding: 0 calcRem(29);
    }
    &--pad60{
        padding: 0 calcRem(60);
    }
    
    &:disabled{
        color: transparent;
        transition-duration: 0s;
    }
}

@media (max-width: 1279px){
    .btn{
        font-size: calcRem(14);
    }
}