.content{
    &__block{
        margin: calcRem(65) 0;
    }
    &__container{
        max-width: 83%;
        margin-left: auto;
        margin-right: auto;
    }
    &__gallery{
        display: grid;
        gap: calcRem(20);
        &--6{
            grid-template-columns: repeat(2, 1fr);
        }
        &--4{
            grid-template-columns: repeat(3, 1fr);
        }
        &--3{
            grid-template-columns: repeat(4, 1fr);
        }
    }
    &__text-underline{
        margin-bottom: calcRem(-30);
        padding-bottom: calcRem(4);
        font-size: calcRem(26);
        line-height: 1.25;
        font-weight: 700;
        border-bottom: 1px solid #667B89;
    }
    &__quote{
        padding-left: calcRem(30);
        border-left: 1px solid $yellow-text;
        &-text{
            font-size: calcRem(14);
            line-height: 1.35;
        }
        &-caption{
            margin-top: calcRem(11);
            font-size: calcRem(14);
            line-height: 1.35;
            font-style: italic;
        }
    }
    &__files{
        display: grid;
        grid-template-columns: 1fr;
        gap: calcRem(16);
    }
    &__image-block{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: calcRem(40);
    }
    >:first-child{
        margin-top: 0;
    }
    >:last-child{
        margin-bottom: 0;
    }
}
.content-file{
    display: flex;
    align-items: center;
    padding-left: calcRem(20);
    &__info{
        display: flex;
        align-items: center;
        flex: 0 0 20%;
        padding: 0 calcRem(22) 0 0;
    }
    &__meta{
        font-size: calcRem(14);
        line-height: 1.35;
        color: #536F87;
        transition: color $tr-time;
    }
    &__icon{
        width: calcRem(32);
        height: calcRem(42);
        margin-right: calcRem(19);
        fill: $yellow-text;
    }
    &__name{
        display: block;
        font-size: calcRem(14);
        line-height: 1.35;
    }
    $this: &;
    &:hover{
        color: $yellow-text;
        #{$this}__meta{
            color: $yellow-text;
        }
        #{$this}__icon{
            fill: $yellow-text;
        }
    }
}
.gallery-item{
    display: block;
    position: relative;
    overflow: hidden;
    &__wrap{
        display: block;
        padding-bottom: 55.2%;
        position: relative;
        background: $main;
        border-radius: 5px;
        overflow: hidden;
        &--square{
            padding-bottom: 100%;
        }
    }
    &__img{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    &__caption{
        display: block;
        margin-top: calcRem(12);
        font-size: calcRem(12);
        line-height: 1.35;
        color: #D4EEF2;
    }
    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba($main, .7);
        opacity: 0;
        transition: opacity $tr-time;
        &-icon{
            width: calcRem(38);
            height: calcRem(38);
            fill: $ivory-2;
        }
    }
    $this: &;
    &:hover{
        #{$this}__overlay{
            opacity: 1;
        }
    }
}
.image-block{
    display: grid;
    grid-template-columns: 50% auto;
    column-gap: calcRem(58);
    &--reverse{
        grid-template-columns: auto 50%;
    }
    &__img{
        max-width: 100%;
        border-radius: 5px;
    }
    &__img-col{
        &--reverse{
            order: 1;
        }
    }
    &__text-col{
        align-self: center;
    }
}
.feedback-form{
    &__title{
        margin-bottom: calcRem(16);
        font-size: calcRem(32);
        line-height: 1.19;
        font-weight: 700;
    }
    &__text{
        max-width: 52%;
        font-size: calcRem(14);
        line-height: 1.4;
    }
    &__personal{
        flex: 0 0 26%;
        margin-right: calcRem(16);
    }
    &__submit{
        width: calcRem(247);
        flex: 0 0 auto;
        &-row{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: calcRem(35);
        }
    }
    &__fields-row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: calcRem(15) calcRem(30);
    }
    &__form{
        margin-top: calcRem(30);
    }
}

@media (max-width: 1279px) {
    .content{
        &__block{
            margin-top: calcRem(45);
            margin-bottom: calcRem(45);
        }
    }
    .content-file{
        &__info{
            flex-basis: 33%;
            padding-right: calcRem(12);
        }
    }
    .image-block{
        column-gap: calcRem(25,16);
        row-gap: calcRem(20,16);
    }
    .feedback-form{
        &__form{
            margin-top: calcRem(22);
        }
        &__submit-row{
            margin-top: calcRem(28);
        }
    }
}
@media (max-width: 991px) {
    .content{
        &__container{
            max-width: 100%;
        }
        &__gallery{
            column-gap: calcRem(12);
            row-gap: calcRem(20);
        }
    }
    .content-file{
        padding-left: 0;
    }
}
@media (max-width: 767px) {
    .image-block{
        grid-template-columns: 1fr;
    }
    .feedback-form{
        &__text{
            max-width: 100%;
        }
        &__personal{
            flex: 0 1 auto;
        }
    }
}
@media (max-width: 575px) {
    .content{
        &__gallery{
            &--6,&--4,&--3{
                grid-template-columns: 1fr;
            }
        }
    }
    .content-file{
        display: block;
        &__name{
            margin-top: calcRem(10);
        }
    }
    .feedback-form{
        &__fields-row{
            grid-template-columns: 1fr;
        }
        &__submit{
            width: 100%;
            &-row{
                flex-direction: column;
            }
        }
        &__personal{
            order: 1;
            margin: calcRem(10) 0 0;
        }
    }
}