.content-text{
	h1{
		margin-bottom: calcRem(30);
		font-size: calcRem(32);
		line-height: 1.19;
		font-weight: 700;
	}
	h2{
		margin-bottom: calcRem(16);
		font-size: calcRem(26);
		line-height: 1.25;
		font-weight: 700;
	}
	h3{
		margin-bottom: calcRem(16);
		font-size: calcRem(18);
		line-height: 1.11;
		font-weight: 700;
	}
	h2,h3{
		margin-top: calcRem(50);
	}
	p{
		margin-bottom: calcRem(14);
		font-size: calcRem(14);
		line-height: 1.35;
	}
	img{
		display: block;
		margin: calcRem(70) auto;
		max-width: 100%;
		width: auto !important;
		height: auto !important;
	}
	ul,ol{
		padding-left: calcRem(52);
		margin-bottom: calcRem(40);
		img{
			display: inline-block;
			margin: 0;
			vertical-align: middle;
			border-radius: 0;
		}
	}
	li{
		@include text14;
		&:not(:last-child){
			margin-bottom: calcRem(14);
		}
		ol,ul{
			margin: calcRem(15) 0;
		}
	}
	ul{
		list-style: none;
		li{
			position: relative;
			padding-left: calcRem(12);
			&::before{
				content: "•";
				display: block;
				position: absolute;
				left: calcRem(-16);
				top: calcRem(-7);
				color: $yellow-text;
				font-size: 2em;
				line-height: 1;
			}
		}
	}
	ol{
		list-style: decimal;
		li{
			padding-left: calcRem(12);
		}
	}
	table{
		width: auto !important;
		min-width: 100%;
		border: 0;
		border-spacing: 0;
	}
	.table-wrap{
		margin-bottom: calcRem(50);
	}
	th, td{
		padding: calcRem(15) calcRem(20);
		border-width: 0 1px 1px 0;
		border-color: #ECB714;
		border-style: solid;
		&:last-child{
			border-right: 0;
		}
	}
	tr{
		&:last-child{
			th,td{
				border-bottom: 0;
			}
		}
	}
	td{
		font-size: calcRem(14);
		line-height: 1.35;
	}
	th{
		color: #1D3B4F;
		font-size: calcRem(18);
		line-height: 1.11;
		font-weight: 700;
		text-align: left;
		background: #ECB714;
		border-color: #ECB714;
		&:not(:last-child){
			border-right-color: #1D3B4F;
		}
	}
	a{
		color: $yellow-text;
		&:visited{
			color: #D09E00;
		}
		&:not(:hover){
			text-decoration: underline;
		}
	}
	iframe{
		display: block;
		max-width: 100%;
		border: 0;
	}
	&:last-child{
		>:last-child{
			margin-bottom: 0;
		}
	}
}
.table-wrap{
	border: 1px solid #ECB714;
	border-radius: 5px;
}

@media (max-width: 1279px) {
	.content-text{
		ol, ul{
			padding-left: calcRem(22);
		}
	}
}