.custom-radio{
    display: flex;
    align-items: center;
    cursor: pointer;
    &__label{
        margin-left: calcRem(8);
        font-size: calcRem(13);
        line-height: 1.2;
    }
    &__radio{
        width: calcRem(13);
        height: calcRem(13);
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        border: 1px solid $main;
        border-radius: 5px;
        &::after{
            content: '';
            width: calcRem(9);
            height: calcRem(9);
            background: $main;
            border-radius: 5px;
            transform: scale(0);
            transition: transform $tr-time;
        }
    }

    $this: &;
    &__input{
        &:checked{
            + #{$this}__radio{
                &::after{
                    transform: scale(1);
                }
            }
        }
    }
}