.mobile-menu{
    position: fixed;
    top: calcRem(58);
    bottom: 0;
    left: 0;
    z-index: 11;
    width: 100vw;
    color: $ivory-2;
    overflow-x: hidden;
    pointer-events: none;
    transition: background-color $tr-time;
    &__wrap{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        position: relative;
        margin-left: auto;
        transform: translateX(100%);
        background: linear-gradient(90deg, rgba(4, 27, 43, 0) 0%, #041B2B 57.29%);
        transition: transform $tr-time;
        pointer-events: all;
    }
    &__footer{
        padding: calcRem(20) calcRem(22);
    }
    &__btn{
        margin-bottom: calcRem(20);
    }

    $this: &;
    &.opened{
        background: #173E52;
        #{$this}__wrap{
            transform: none;
        }
    }
}

@media (min-width: 1280px){
    .mobile-menu{
        display: none;
    }
}
@media (max-width: 1279px){
    .main-menu{
        display: none;
    }
    .default-menu{
        .menu-item{
            font-size: calcRem(12);
            &:not(:last-child){
                margin-bottom: calcRem(12);
            }
        }
    }
}