.modal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 12;
	&.is-open{
		display: block;
	}
	&__content{
	}
	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(#000, 0.5);
		overflow: auto;
	}
	&__close{
		padding: calcRem(15);
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		cursor: pointer;
		svg{
			display: block;
			width: calcRem(14);
			height: calcRem(14);
			fill: $choco-1;
			pointer-events: none;
		}
		&:hover{
			svg{
				fill: $red-1;
			}
		}
	}
	&__container{
		width: 100%;
		margin: 0 auto;
		position: relative;
		background-color: $ivory-2;
		overflow: hidden;
	}
	&__default-container{
		max-width: 61%;
		padding: calcRem(40);
	}
	&__title{
		text-align: center;
	}
	&__subtitle{
		margin-top: calcRem(8);
		@include text14;
		text-align: center;
	}
	&__personal{
		margin-top: calcRem(12);
		&--centered{
			text-align: center;
		}
	}
	&__horizontal-form{
		max-width: 68%;
		margin: calcRem(24) auto 0;
	}
	&--default-animation{
		&[aria-hidden="false"]{
			.modal{
				&__overlay{
					animation: mmfadeIn $tr-time cubic-bezier(0.0, 0.0, 0.2, 1);
				}
				&__container{
					animation: mmslideIn $tr-time cubic-bezier(0, 0, .2, 1);
				}
			}
		}
		&[aria-hidden="true"]{
			.modal{
				&__overlay{
					animation: mmfadeOut $tr-time cubic-bezier(0.0, 0.0, 0.2, 1);
				}
				&__container{
					animation: mmslideOut $tr-time cubic-bezier(0, 0, .2, 1);
				}
			}
		}
	}
}
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

@media (max-width: 1279px) {
	.modal{
		&__default-container{
			max-width: 84%;
		}
		&__title{
			font-size: calcRem(32);
		}
	}
}
@media (max-width: 991px) {
	.modal{
		&__horizontal-form{
			max-width: 100%;
		}
	}
}
@media (max-width: 767px) {
	.modal{
		&__default-container{
			max-width: 90%;
			padding: calcRem(35) calcRem(20);
		}
		&__content{
            max-width: 100%;
        }
	}
}