.page{
    padding: calcRem(24) 0 0;
    &__content{
        padding: calcRem(59) 0 0;
    }
    &-title{
        margin-bottom: calcRem(39);
        text-align: center;
    }
}
.news-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: calcRem(20);
}

@media (max-width: 1279px){
    .news-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 991px){
    .news-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px){
    .page{
        &-title{
            font-size: calcRem(28);
        }
    }
    .news-grid{
        grid-template-columns: 1fr;
    }
}