.page{
    padding: calcRem(24) 0 calcRem(75);
    position: relative;
    background: linear-gradient(90deg, #0E2636 42.55%, rgba(14, 38, 54, 0) 100%);
    overflow: hidden;
    &__content{
        padding: calcRem(26) 0 0;
    }
    &-title{
        font-size: calcRem(32);
        line-height: 1.19;
        font-weight: 700;
    }
    &__stain{
        opacity: 0.17;
        filter: none;
        animation: blur 5s ease-in-out 0s infinite alternate forwards;
        &--1{
            top: calcRem(-450);
            left: calcRem(-470);
            transform: rotate(30deg);
        }
        &--2{
            top: calcRem(519);
            right: calcRem(-380);
            transform: rotate(-60deg);
        }
    }
}
.news-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: calcRem(20);
}
.section-title{
    font-size: calcRem(28);
    line-height: 1.19;
    font-weight: 700;
}

@media (max-width: 1279px){
    .news-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 991px){
    .news-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px){
    .page{
        &-title{
            font-size: calcRem(28);
        }
    }
    .news-grid{
        grid-template-columns: 1fr;
    }
}