.catalog-section{
    padding: calcRem(54) 0 0;
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: calcRem(25);
    }
}
@media (max-width: 575px){
    .catalog-section{
        &__top{
            display: block;
        }
        &__title{
            margin-bottom: calcRem(8);
        }
    }
}