.form-section{
    padding: calcRem(74) calcRem(100) 0;
    position: relative;
}
.calc-form{
    max-width: calcRem(632);
    padding: calcRem(44) calcRem(53) calcRem(62);
    background: $main;
    border-radius: 5px;
    &__title{
        margin-bottom: calcRem(10);
    }
    &__text{
        max-width: 95%;
        font-size: calcRem(14);
        line-height: 1.4;
    }
    &__form{
        margin: calcRem(21) 0 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: calcRem(25);
        &-row{
            grid-column: span 2;
        }
    }
    &__submit-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-column: span 2;
        padding: 0 calcRem(10) 0 0;
    }
    &__personal{
        flex: 0 0 45%;
    }
}

@media (max-width: 1279px){
    .calc-form{
        &__text{
            max-width: 100%;
        }
    }
}
@media (max-width: 1279px){
    .form-section{
        padding: calcRem(30) $containerPadding;
    }
    .calc-form{
        max-width: 70%;
        margin: 0 auto;
        padding: calcRem(36) calcRem(30) calcRem(42);
        &__submit{
            padding: 0 calcRem(30);
            &-row{
                padding: 0;
            }
        }
        &__form{
            gap: calcRem(18);
        }
    }
}
@media (max-width: 991px){
    .calc-form{
        max-width: 90%;
    }
}
@media (max-width: 767px){
    .calc-form{
        max-width: 100%;
    }
}
@media (max-width: 575px){
    .calc-form{
        &__form{
            grid-template-columns: 1fr;
            &-row{
                grid-column: auto;
            }
        }
        &__submit{
            width: 100%;
            padding: 0 calcRem(15);
            margin: 0 0 calcRem(10);
            &-row{
                display: block;
                padding: 0;
                grid-column: auto;
            }
        }
    }
}