.form-section{
    padding: calcRem(74) calcRem(100) 0;
    position: relative;
}
.calc-form{
    max-width: calcRem(632);
    padding: calcRem(44) calcRem(53) calcRem(62);
    background: $main;
    border-radius: 5px;
    &__title{
        margin-bottom: calcRem(10);
    }
    &__text{
        max-width: 95%;
        font-size: calcRem(14);
        line-height: 1.4;
    }
    &__form{
        margin: calcRem(21) 0 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: calcRem(25);
    }
    &__submit-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-column: span 2;
        padding: 0 calcRem(10) 0 0;
    }
    &__personal{
        flex: 0 0 45%;
    }
}