.horizontal-slider{
    display: flex;
    &__slide{
        height: auto;
        &--auto{
            width: auto;
        }
        &-3{
            display: flex;
            overflow: hidden;
            .white-part{
                width: 62.83%;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                z-index: -1;
                background: linear-gradient(122.6deg, $white 0%, $white 78%, transparent 78.1%);
            }
            .dark-part{
                width: 58.8%;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
                background: linear-gradient(90deg, rgba(4, 27, 43, 0) 0%, #041B2B 57.29%);
            }
            .stain{
                bottom: 52%;
                right: 5%;
                transform: rotate(55.49deg);
                z-index: -1;
                opacity: .17;
            }
        }
        &-5{
            display: flex;
        }
    }
    &__wrapper{
        width: auto;
        background: linear-gradient(180deg, #1D3B4F 0%, #0F2D41 0.01%, #194155 100%);
    }
}
@media (max-width: 1279px){
    .horizontal-slider{
        overflow: hidden;
        align-self: flex-start;
        &__wrapper{
            display: block;
        }
        &__slide{
            &-3{
                display: block;
                .white-part{
                    width: 100%;
                    bottom: 55%;
                    background: linear-gradient(140deg, #E4E8E9 0%, #E4E8E9 68%, transparent 68.1%);
                }
                .dark-part{
                    width: 100%;
                }
                .stain{
                    bottom: 5%;
                    right: -54%;
                }
            }
            &-5{
                display: block;
            }
        }
    }
}
@media (max-width: 991px){
    .horizontal-slider{
        &__slide{
            &-3{
                .white-part{
                    bottom: 40%;
                    background: linear-gradient(135deg, #E4E8E9 0%, #E4E8E9 62%, transparent 62.1%);
                }
            }
        }
    }
}
@media (max-width: 575px){
    .horizontal-slider{
        &__slide{
            &-3{
                .white-part{
                    background: linear-gradient(135deg, #E4E8E9 0%, #E4E8E9 78%, transparent 78.1%);
                }
            }
        }
    }
}