.imgs-section{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 24.5%;
    &__img{
        height: 100%;
    }
}

@media (max-width: 1279px){
    .imgs-section{
        position: static;
        margin-bottom: calcRem(-83);
        &__img{
            width: 96%;
            margin: 0 auto;
        }
    }
}