.services-section{
    padding: calcRem(54) 0;
    background: $white;
    &__title{
        margin-bottom: calcRem(25);
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: calcRem(24) calcRem(20);
    }
}
.service-block{
    padding: 0 calcRem(15) calcRem(29);
    display: block;
    position: relative;
    background: $white;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 25px rgba(2, 177, 188, 0.5));
    overflow: hidden;
    &:hover{
        color: $main;
    }
    &__overlay{
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0;
        overflow: hidden;
        transition: opacity $tr-time;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(180deg, rgba(248, 204, 21, 0) 0%, rgba(20, 44, 61, 0.58) 74.48%, #142C3D 100%);
        }
    }
    &__img{
        width: 100%;
        height: 100%;
    }
    &__top{
        height: calcRem(139);
        padding: calcRem(18) 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__icon{
        height: calcRem(78);
    }
    &__title{
        display: block;
        position: relative;
        z-index: 1;
        font-size: calcRem(16);
        line-height: 1.2;
        font-weight: 700;
        text-align: center;
        transition: color $tr-time;
    }
    &__bg{
        position: absolute;
        top: 0;
        height: 100%;
        right: -20px;
        opacity: 0.1;
        pointer-events: none;
    }

    $this: &;
    &:hover{
        #{$this}__overlay{
            opacity: 1;
        }
        #{$this}__title{
            color: $yellow-text;
        }
    }
}

@media (max-width: 1279px){
    .service-block{
        &__icon{
            height: calcRem(62);
        }
        &__top{
            padding: calcRem(12) 0 0;
            height: calcRem(110);
        }
        &__title{
            font-size: calcRem(14);
        }
    }
}
@media (max-width: 991px){
    .services-section{
        &__grid{
            grid-template-columns: repeat(2,1fr);
        }
    }
}
@media (max-width: 575px){
    .services-section{
        &__grid{
            grid-template-columns: 1fr;
        }
    }
}