@font-face{
    font-family: 'Arsenal';
    src: url('../fonts/Arsenal-Regular.woff2') format('woff2');
    font-display: swap;
}
@font-face{
    font-family: 'Arsenal';
    font-weight: 700;
    src: url('../fonts/Arsenal-Bold.woff2') format('woff2');
    font-display: swap;
}
@font-face{
    font-family: 'Moniqa';
    font-weight: 600;
    src: url('../fonts/Moniqa-SemiBoldDisplay.woff2') format('woff2');
    font-display: swap;
}
@font-face{
    font-family: 'Moniqa';
    font-weight: 600;
    font-style: italic;
    src: url('../fonts/Moniqa-SemiBoldItalicDisplay.woff2') format('woff2');
    font-display: swap;
}