@function calcFluid($f-min, $f-max, $v-min: 320px, $v-max: 1279px, $base: 0) {
    $k: ($f-max - $f-min)/($v-max - $v-min);
    $b: $f-min - $k * $v-min;
 
    $b: $b * 1px;

    @if $base == 0{
        @return calc(#{$k} * 100vw + #{$b} );
    }
    @else{
        @return calc( #{$base} - (#{$k} * 100vw + #{$b}) );
    }
}
@function calcRem($sizePX, $baseSizePX: 16){
    @return #{$sizePX / $baseSizePX}rem;
}

@function calcVh($sizePX, $baseSizePX: 720){
    @return #{$sizePX / $baseSizePX * 100}vh;
}