:root{
	font-size: calcFluid(16,24,1280,1920);
}
body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	position: relative;
	color: $text;
	font-family: 'Montserrat', sans-serif;
	background: #1D3B4F;
}
main{
	position: relative;
	flex-grow: 1;
}
*{
	margin: 0;
	padding: 0;
}
ol,ul{
	list-style: none;
}
button{
	border: 0;
	font-family: inherit;
	&:focus{
		outline: none;
	}
}
h1,h2,h3{
	font-weight: normal;
}
button, input, textarea{
	font-family: inherit;
	&:focus{
		outline: none;
	}
}
input{
	min-width: 0;
	font-size: inherit;
	appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type=number] {
	-webkit-appearance: none;
	-moz-appearance: textfield;
}
a{
	color: inherit;
	text-decoration: none;
	transition: color $tr-time;
	&:hover{
		color: $hover-yellow;
		text-decoration: none;
	}
}
svg{
	vertical-align: middle;
	transition: fill $tr-time;
}
img, iframe{
	display: block;
}
source{
	display: none;
}
iframe{
	border: 0;
}
*, ::before, ::after{
	box-sizing: border-box;
}
:focus{
	outline: none;
}

@media (max-width: 1279px) {
	:root{
		font-size: calcFluid(16,24,320,1279);
	}
}