.container{
	width: 100%;
	max-width: calc(#{$containerWidth} + #{$containerPadding * 2});
	margin: 0 auto;
	padding: 0 $containerPadding;
}
.hidden{
	display: none !important;
}
.overflow{
	&-auto{
		overflow: auto;
	}
	&-hidden{
		overflow: hidden;
	}
}
.bg{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	pointer-events: none;
	&__img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.fullhd-container{
	max-width: 1920px;
	margin: 0 auto;
}
.dark-text{
    color: $main;
}
.fullscreen-section{
    width: 100vw;
}
.h100{
	height: 100%;
}
.blue-hover{
	&:hover{
		color: $blue;
	}
}
.stain{
	position: absolute;
	width: calcRem(866);
	height: calcRem(885);
	filter: blur(190px);
	&__icon{
		width: 100%;
		height: 100%;
		fill: #2CE8F4;
	}
}

@media (max-width: 1279px){
	.container{
		max-width: 100%;
	}
}