//colors
$ivory-1: #FFFDFA;
$ivory-2: #F8F4ED;
$choco-1: #433636;
$choco-2: #574848;
$choco-3: #AF9C9C;
$red-1: #DC282C;
$red-2: #FF4F53;
$gray: #D4D0C9;
$error: $red-1;
$transparent: rgba(67, 54, 54, 0.7);

$main: #0E2636;
$white: #E4E8E9;
$yellow-text: #F8CC15;
$hover-yellow: #FFE100;
$blue: #5ABFC6;
$text: $white;

$tr-time: .4s;

$gap: 15px;
$containerPadding: 20px;
$containerWidth: 84.45vw;