@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/fonts';
@import 'base/reset';
@import 'base/utils';

@import 'swiper/swiper';

@import 'common/burger';
@import 'common/btn';
@import 'common/content';
@import 'common/forms';
@import 'common/content-text';
@import 'common/page';
@import 'common/breadcrumbs';
@import 'common/modal';
@import 'common/custom-radio';
@import 'common/counter';
@import 'common/mobile-menu';

@import 'components/header';
@import 'components/footer';
@import 'components/horizontal-slider';
@import 'components/main-section';
@import 'components/services-section';
@import 'components/form-section';
@import 'components/catalog-section';
@import 'components/link-to-all';
@import 'components/catalog';
@import 'components/advantages-section';
@import 'components/hand-section'