@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/fonts';
@import 'base/reset';
@import 'base/utils';

@import 'swiper/swiper';

@import 'common/burger';
@import 'common/btn';
@import 'common/content';
@import 'common/forms';
@import 'common/content-text';
@import 'common/page';
@import 'common/breadcrumbs';
@import 'common/modal';
@import 'common/custom-radio';
@import 'common/counter';
@import 'common/mobile-menu';
@import 'common/range-slider';
@import 'common/tabs';

@import 'components/slider-pagination';
@import 'components/header';
@import 'components/footer';
@import 'components/catalog';
@import 'components/horizontal-slider';
@import 'components/main-section';
@import 'components/services-section';
@import 'components/form-section';
@import 'components/catalog-section';
@import 'components/link-to-all';
@import 'components/advantages-section';
@import 'components/hand-section';
@import 'components/scheme-section';
@import 'components/imgs-section';
@import 'components/partners-section';
@import 'components/seo-section';
@import 'components/contacts-section';
@import 'components/contacts';
@import 'components/pagination';
@import 'components/product';
@import 'components/cards-slider';
@import 'components/search';